* {
    margin: 0;
    padding: 0;
    

}
.search-results {
    text-align: center;
    font-weight: bold;
    padding: 20px 10px;
}

.card-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 10px 35px;
    display: inline-block;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media only screen and (max-width: 600px) {
    display {
        margin-right: auto;
        margin-left: auto;
    }

}